.about-page {
  padding: 0 30px 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-page h1 {
  font-size: 42px;
  padding-bottom: 20px;
}

.about-page h2 {
  color: var(--main-black);
  font-size: 16px;
  letter-spacing: 0.19em;
}

.about-page p {
  line-height: 160%;
  color: var(--main-black);
}

.image-placeholder {
  background-color: #d7d7d7;
  position: relative;
  display: block;
  height: 0;
  padding-top: 56.25%;
}

.image-placeholder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.large-photo {
  width: 60%;
  display: block;
}

.lower-section {
  display: flex;
  align-items: flex-start;
}

.vertical-photo {
  width: 30%;
  display: block;
}

.text-beside-vertical {
  flex-grow: 1;
  margin-left: 80px;
  margin-top: 120px;
}

.text-and-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.text-and-image p {
  width: 60%;
}

.side-image {
  width: 30%;
  display: block;
}

.center-text {
  text-align: center;
  margin-top: 60px;
}

.join-button {
  display: block;
  width: 200px;
  margin: 40px auto 0 auto;
  padding: 10px 14px;
  background-color: var(--main-black);
  border-radius: 2px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.join-button:hover {
  color: var(--light-gray);
  opacity: 0.7;
}

@media (max-width: 1023px) {
  .about-page {
    padding: 0 20px;
  }

  .about-page h1 {
    font-size: 36px;
  }

  .large-photo {
    width: 100%;
  }

  .side-image {
    width: 60%;
  }

  .vertical-photo {
    width: 30%;
  }

  .lower-section {
    flex-direction: column;
  }

  .text-beside-vertical {
    margin-left: 0;
    margin-top: 20px;
  }

  .text-and-image {
    flex-direction: column;
    text-align: center;
  }

  .text-and-image p {
    width: 100%;
  }

  .side-image {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .about-page {
    padding: 0 10px;
  }

  .about-page h1 {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .about-page h2 {
    font-size: 14px;
  }

  .about-page p {
    font-size: 14px;
  }

  .text-beside-vertical {
    margin-top: 10px;
  }

  .center-text {
    margin-top: 40px;
  }

  .join-button {
    width: 100%;
    padding: 12px 0;
  }
}
