.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-beige);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.hero-section {
  height: 60vh;
  background-color: var(--light-beige);
  position: relative;
}
.hero-section .cup-img {
  position: absolute;
  top: 9em;
  left: 8em;
  width: 700px;
  height: auto;
}

.search-input {
  width: 100%;
  padding: 1em 0 1em 2.4em;
  font-size: 1em;
  border: 0.125rem solid var(--dark-green);
  border-radius: 3rem;
  background-color: var(--light-green);
  color: var(--light-beige);
  outline: none;
}

.search-input-wrapper {
  margin: 20.5em auto 1em auto;
  max-width: 18.75rem;
  position: relative;
}

.search-input-icon {
  position: absolute;
  left: 0.75em;
  top: 50%;
  transform: translateY(-50%);
  width: 1.125em;
  height: 1.125em;
}

.search-input::placeholder {
  color: rgba(245, 245, 220, 0.8);
}

.search-input:focus {
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
}

.action-section {
  display: flex;
  justify-content: space-around;
  padding: 12em 2em 4em 2em;
  background-image: url("../assets/drip.svg");
  background-size: cover;
  margin-left: -0.6em;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-item img {
  width: 15em;
  height: 15em;
  margin-bottom: 1em;
}

.action-item p {
  font-family: "Kalnia", serif;
  text-align: center;
  font-size: 1.2em;
  color: var(--dark-green);
  font-weight: 600;
  letter-spacing: 0.0625em;
  text-shadow: 1px 1px 2px rgba(58, 56, 56, 0.5);
}

.action-item:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 1020px) {
  .hero-section .cup-img {
    top: 10em;
    left: 1em;
    width: 600px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 40vh;
    margin-bottom: 0em;
  }

  .hero-section .cup-img {
    top: 6em;
    left: -2em;
    width: 400px;
  }

  .search-input-wrapper {
    margin: 12em auto;
    max-width: 15rem;
  }

  .action-section {
    padding: 1rem auto;
    margin-left: -0.25em;
  }

  .action-item img {
    height: 12em;
  }

  .action-item p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 30vh;
    margin-bottom: 3em;
  }

  .hero-section .cup-img {
    top: 5em;
    left: 0;
    width: 300px;
  }

  .search-input-wrapper {
    margin: 12em auto;
    max-width: 90%;
  }

  .action-section {
    flex-direction: column;
    padding: 8em 1em 2em;
  }

  .action-item img {
    width: 10em;
    height: 10em;
  }

  .action-item p {
    font-size: 0.9em;
  }
}
