.reviews-page {
  margin: 1rem 3rem 3rem 3rem;
}

.reviews-page button {
  font-family: "Lato", sans-serif;
}

.reviews-page h2 {
  color: var(--main-black);
  font-size: 20px;
  letter-spacing: 0.19em;
  text-align: center;
  margin-bottom: 3em;
  font-family: "Lato", sans-serif;
}

.reviews-page .reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
}

.reviews-page .review-card {
  background-color: var(--main-black);
  padding: 2em;
  border-radius: 2px;
  flex-basis: 60%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  max-width: 480px;
}

.reviews-page .review-details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
}

.reviews-page .review-detail {
  font-size: 0.85em;
  margin-bottom: 0.5em;
  color: #fafafb;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
}

.reviews-page .review-detail.comments {
  grid-column: span 2;
  text-align: center;
}

.reviews-page .delete-btn,
.reviews-page .create-btn {
  background-color: #616161;
  color: #fafafb;
  padding: 8px 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.reviews-page .delete-btn {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.delete-btn:hover,
.create-btn:hover {
  background-color: #555;
}

.reviews-page .coffee-shop-name {
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
  color: #fafafb;
  margin-bottom: 0em;
  margin-top: -4px;
}

.reviews-page .review-title {
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Lato", sans-serif;
  color: #c4c4c4;
}

.reviews-page .location {
  font-size: 0.8em;
  margin-top: 0.4em;
  margin-bottom: 1.4em;
  color: rgb(162, 162, 162);
  font-family: "Raleway", sans-serif;
}

.reviews-page .review-detail .question {
  font-weight: 600;
  color: #8f8f8f;
  margin-right: 0.5em;
}

.reviews-page .additional-comments,
p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.reviews-page .review-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.reviews-page .review-photo {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  object-fit: cover;
}

/* modal styles */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 2px;
  text-align: center;
  max-width: 500px;
}

.modal-content p {
  margin-bottom: 24px;
  font-size: 1.1em;
  color: #333;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  margin: 0 30px;
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 2px;
  color: black;
  font-size: 1em;
}

.modal-content button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .reviews-page {
    margin-top: -1rem;
  }

  .reviews-page h2 {
    margin-bottom: 2em;
  }
  .reviews-page .reviews-container {
    gap: 2em;
  }

  .reviews-page .review-card {
    flex-basis: 90%;
    max-width: 380px;
    padding: 1.5em;
  }

  .reviews-page .review-detail {
    font-size: 0.8em;
  }

  .reviews-page .coffee-shop-name,
  .reviews-page .review-title,
  .reviews-page .location {
    font-size: 0.9em;
  }

  .reviews-page .delete-btn,
  .reviews-page .create-btn {
    padding: 6px 12px;
    font-size: 0.9em;
  }

  .reviews-page .review-photo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .reviews-page {
    margin: -1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews-page h2 {
    text-align: center;
    width: 100%;
  }
  .reviews-page .reviews-container {
    flex-direction: column;
    align-items: center;
  }

  .reviews-page .review-card {
    flex-basis: 100%;
    width: 300px;
  }

  .reviews-page .review-details-grid {
    grid-template-columns: 1fr;
    row-gap: 0.5em;
  }
}
