.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.bubbles {
  position: absolute;
  max-width: 300px;
  top: 140px;
  left: 160px;
}

.coffee-bag {
  max-width: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.auth-card {
  background-color: var(--beige);
  padding: 1.6rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 8rem 2rem 2rem 28rem;

  width: 440px;
  height: auto;
}

.auth-card h1 {
  color: var(--brown);
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: "Kalnia", serif;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
  color: var(--brown);
  font-size: 1em;
  padding-left: 0.5rem;
}

.auth-form input {
  padding: 1rem;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: var(--light-beige);
}

.submit-button {
  background-color: var(--dark-green);
  color: var(--light-beige);
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 42%;
  font-size: 1em;
  align-self: center;
  margin-top: 1rem;
}

.submit-button:hover {
  background-color: var(--brown);
}

.val-error-message {
  color: rgb(221, 31, 31);
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .bubbles,
  .coffee-bag {
    display: none;
  }

  .auth-card {
    margin: 8rem auto 2rem auto;
    width: 80%;
  }

  .auth-card h1 {
    font-size: 1.4em;
  }

  .submit-button {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .auth-card {
    width: 90%;
  }

  .auth-card h1 {
    font-size: 1.2em;
  }

  .submit-button {
    width: 80%;
  }
}
