.filter-modal {
  display: none;
  position: fixed;
  right: 12.5rem;
  top: 10rem;
  background-color: white;
  padding: 2.1875rem 1.25rem 1.25rem 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  width: 18.75rem;
}

.filter-modal.show {
  display: block;
}

.close-button {
  position: absolute;
  top: 0.125rem;
  right: 0.9375rem;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}

.filter-modal input[type="number"] {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid var(--main-black);
  border-radius: 2px;
  outline: none;
}

.filter-modal .modal-btn {
  background-color: var(--main-black);
  color: var(--light-gray);
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 48%;
  margin-top: 0.625rem;
}

.filter-modal .apply-filter-btn {
  margin-right: 4%;
}

.filter-modal .clear-filter-btn {
  background-color: transparent;
  color: var(--main-black);
  border: 1.5px solid var(--main-black);
}

.filter-modal .modal-btn:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .filter-modal {
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 2rem;
    box-sizing: border-box;
  }

  .filter-modal .modal-btn,
  .filter-modal input[type="number"] {
    font-size: 1rem;
  }
}
