.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em 0 3em;
}

.bean-icon {
  height: 50px;
  width: auto;
}

.navbar-links a,
.navbar-links .sign-out-btn {
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 1em;
  margin: 0 0.5em;
}

.auth-btn {
  font-family: "Lato", sans-serif;
  cursor: pointer;
  background-color: var(--main-black);
  color: var(--light-gray);
}

.sign-out-btn {
  border: none;
}

.login-btn {
  border: 1px solid #616161;
}

.auth-btn,
.login-btn {
  border-radius: 2px;
}

.auth-btn:hover {
  background-color: rgb(172, 172, 172);
}

.login-btn:hover {
  border-color: var(--main-black);
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .navigation .navbar-links {
    position: fixed;
    top: 5em;
    right: -100%;
    height: 40%;
    width: 50%;
    background-color: var(--main-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 2em 1.2em;
    transition: right 0.3s ease;
    z-index: 11;
  }

  .login-btn {
    border: none;
  }

  .navigation .navbar-links.open {
    right: 0;
  }

  .navbar-links a,
  .navbar-links .auth-btn {
    color: white;
  }

  .navbar-links a:hover,
  .navbar-links .auth-btn:hover {
    color: white;
    background-color: transparent;
  }
}
