.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 90px;
  height: 90px;
  animation: spin-horizontal 2s linear infinite;
}

@keyframes spin-horizontal {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
