*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-gray: #fafafb;
  --medium-gray: #616161;
  --main-black: #282828;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  background-color: var(--light-gray);
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--main-black);
}

h2 {
  font-family: "Lato", sans-serif;
}

h3 {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--medium-gray);
  cursor: pointer;
}

a:hover {
  color: var(--main-black);
}

img {
  max-width: 100%;
  display: block;
}
